/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 4:01:34 PM
    Author     : ciprian.strechie
*/
header {
    background-color: #6f5499;
}
#container {
    float: left;
    width: 100%;   
    margin-top: 15px;
}
.list-group .gr-action {
    text-align: right;
}
.user-actions {
    float: right;
}
.gr-action span {
    margin-left: 7px;
}
.header-helper{
    color: #fff;
    float: right;
    font-size: 15px;
    margin-right: 10%;
}
.header-helper span{
    margin-left: 5px;
}
.header-title {
    float: left;
    width: 100%;      
}
footer {
    border-top: 1px solid #e5e5e5;
    color: #767676;
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
#content .panel-heading {
    background-color: #999999;
    border-color: #bce8f1;
    color: white;
    font-size: 24px;
    font-family: Magra;
}