/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2015, 4:01:34 PM
    Author     : ciprian.strechie
*/
#container {
    float: left;
    width: 100%;    
}
.list-group .gr-action {
    text-align: right;
}
.user-actions {
    float: right;
}
.gr-action span {
    margin-left: 7px;
}